/*
 * Copyright (c) 2025 Navimatix GmbH
 * SPDX-License-Identifier: Apache-2.0
 */

microbus_i2c: &arduino_i2c {};
#include "mikroe_stepper_19.dtsi"
#include "potentiometer_input.dtsi"

#include <zephyr/dt-bindings/gpio/gpio.h>

&mikroe_stepper_driver {
	sleep-gpios = <&arduino_header 8 GPIO_ACTIVE_LOW>;	/* D2 */
	dir-gpios = <&arduino_header 9 0>;			/* D3 */
	step-gpios = <&arduino_header 10 0>;			/* D4 */
	en-gpios = <&arduino_header 11 0>;			/* D5 */
	m0-gpios = <&mikroe_stepper_gpios 0 0>;			/* S0 */
	m1-gpios = <&mikroe_stepper_gpios 1 0>;			/* S1 */

	/* Timing source configuration. */
	counter = <&pit0_channel0>;
	accurate-steps = <15>;
	acceleration = <800>;
	// acceleration = <200>;
};

&pit0_channel0 {
	status = "okay";
};

&adc1 {
	#address-cells = <1>;
	#size-cells = <0>;

	/* ADC channel configuration for the potentiometer. */
	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&potentiometer_input {
	io-channels = <&adc1 0>;
};
