/*
 * Copyright (c) 2025 Navimatix GmbH
 * SPDX-License-Identifier: Apache-2.0
 */

microbus_i2c: &arduino_i2c {};
#include "mikroe_stepper_19.dtsi"
#include "potentiometer_input.dtsi"

#include <zephyr/dt-bindings/gpio/gpio.h>

&mikroe_stepper_driver {
	sleep-gpios = <&arduino_header 15 GPIO_ACTIVE_LOW>;	/* D9 */
	dir-gpios = <&arduino_header 18 0>;			/* D12 */
	step-gpios = <&arduino_header 19 0>;			/* D13 */
	en-gpios = <&arduino_header 14 0>;			/* D8 */
	m0-gpios = <&mikroe_stepper_gpios 0 0>;			/* S0 */
	m1-gpios = <&mikroe_stepper_gpios 1 0>;			/* S1 */

	/* Timing source configuration. */
	counter = <&counter2>;
	acceleration = <1600>;
};

&timers2 {
	status = "okay";

	counter2: counter {
		 status = "okay";
	};
};

&adc1 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-0 = <&adc1_in3_pa3>;

	/* ADC channel configuration for the potentiometer. */
	channel@3 {
		reg = <3>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&potentiometer_input {
	io-channels = <&adc1 3>;
};
