/*
 * Copyright (c) 2025 Navimatix GmbH
 * SPDX-License-Identifier: Apache-2.0
 */

microbus_i2c: &arduino_i2c {};
#include "mikroe_stepper_19.dtsi"
#include "potentiometer_input.dtsi"

#include <zephyr/dt-bindings/gpio/gpio.h>

&mikroe_stepper_driver {
	sleep-gpios = <&arduino_header 3 GPIO_ACTIVE_LOW>;	/* A3 */
	dir-gpios = <&arduino_header 2 0>;			/* A2 */
	step-gpios = <&arduino_header 1 0>;			/* A1 */
	en-gpios = <&arduino_header 4 0>;			/* A4 */
	m0-gpios = <&mikroe_stepper_gpios 0 0>;			/* S0 */
	m1-gpios = <&mikroe_stepper_gpios 1 0>;			/* S1 */

	/* Timing source configuration. */
	counter = <&counter2>;
	acceleration = <1600>;
	// acceleration = <200>;
};

&timers2 {
	status = "okay";

	pwm2: pwm {
		status = "okay";
		pinctrl-0 = <&tim2_ch1_pa5>;
		pinctrl-names = "default";
	};

	counter2: counter {
		 status = "okay";
	};
};

&adc1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	st,adc-clock-source = "SYNC";
	st,adc-prescaler = <0x2>;
	pinctrl-0 = <&adc1_in1_pa0>;
	pinctrl-names = "default";

	/* ADC channel configuration for the potentiometer. */
	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&potentiometer_input {
	io-channels = <&adc1 1>;
};
